.add-book {
  width: 100%;
  /* height: 100%; */
  border: var(--light-grey) solid 1px;
  border-radius: 20px;
  padding: 20px;
  justify-content: center;
}
.search_results_container{
  /* background-color: #F1F1F1;
  border: var(--light-grey) solid 1px; */
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  padding: 1rem 1rem 1rem 0;
}

ul{
  list-style: none;
}

.book_row{
  /* border-bottom: var(--light-grey) solid 1px; */
  margin-bottom: 1rem;
  background-color: #F1F1F1;
  border: var(--light-grey) solid 1px;
  padding-bottom: 1rem;
  border-radius: 5px;

}

.AddBook_image_container img{
  border-radius: 5px;
  margin-top: 1rem;
}

.AddBook_radio_button_container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.search_button_container, .search_input_wrapper, .manual_input_wrapper, .manual_empty_container  {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 0% !important;
}
.manual_input_wrapper, .manual_empty_container  {
padding-top: 3rem;
}
.d-flex {
  padding: 3rem;
}
.search_button_container {
  align-items: end;
}
.form-check-input {
  margin-top: 0.35rem;
  margin-right: 0.5rem;
  border-color: #FFAD4D;
  --bs-border-width: 3px;
}
.form-check-label {
  font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
}
.textInput {
  width:80% !important;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
}
.form-check-input:checked {
  background-color: #FFAD4D;
  border-color: #FFAD4D;
}

.form-control:disabled {
  background-color:#D9D9D9;
  color: white !important;
}
.form-control {
border: var(--bs-border-width) solid #709F9D;
--bs-border-width: 2px;
background-color:#f8f9fa;
}
:root {
--toastify-color-success: #FFAD4D;
--toastify-color-error: #FFCF26;
}
.manual_input_wrapper, .manual_empty_container  {
  padding-top: 3rem;
  font-size: 1rem;
  margin-top: 0;
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.2;
      color: var(--bs-heading-color);
  }
  