.card-container {
    background-color: var(--page-bkgd-color);
    margin-bottom: 40px;
}

.card {
    width: 136px;
    height: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid var(--middle-grey);
}

.card:hover {
    cursor: default ;
    -webkit-box-shadow: 6px 6px 14px 3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:  6px 6px 14px 3px rgba(50, 50, 50, 0.5);
    box-shadow: 6px 6px 14px 3px rgba(50, 50, 50, 0.5);
}

.cover_holder{
    position: relative;
    width: 134px;
    height: 193px;
    overflow:hidden;
}

.card-img-top {
    width:100%;
    height: auto;
}

.card_btn_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    padding: 6px 8px !important;
}

.ellipsis{
    color: var(--charcoal);
    cursor: pointer;
}

.rating_wrapper {
    position: absolute;
    width:100%;
    left:0;
    bottom:0;
    background-color: rgba(0,0,0,0.6);
}

.read_wrapper {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 4px;
    right: 4px;
}



