div.modal-header.row{
    margin-left: 0;
    margin-right: 0;
}

div.row.book_container{
    height: 240px;
}
.closing_icon{
    padding: 0;
}

.book_details{
    padding-left: 1rem;
    padding-right: 0;
}

.des_wrapper{
    height: 133px;
    overflow: auto;
}

.book_title{
    font-size: 1.5rem;
}

.OnLoan_book_cover {
    height: 240px;
    padding: 0;
}

.OnLoan_book_cover img{
    border-radius: 5px; 
    width: 100%;  
}

.book_name {
    font-weight: bold;
}

.modal_rating_wrapper {
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    margin-top: 0px;
}

.form-group{
    display: flex;
}

.datepicker, .name_of_borrower{
    margin-right: 20px;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

.on-loan {
    margin-right: 2rem;
}

div.checkbox-container.row {
    padding-left: 12px;
}

.borrower_details{
    display: flex;
}

.my-notes{
    margin-top: 1rem;
}

.btn-save {
    width: 30%;
    border-radius: 20px;
}

#borrower {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

#ratings_label {
    margin-right: 3px;
}

.btn-save{
    background-color: var(--save-add_green);
}

.my-notes {
    margin-bottom: 1rem;
}

div.modal-footer {
    padding-bottom: 0;
}

.bookModal_cover {
    border: 1px solid var(--light-grey);
}

