.card-container {
    background-color: #FFF;
    margin-bottom: 40px;
}

.card {
    width: 136px;
    height: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.card:hover {
    cursor: pointer;
    -webkit-box-shadow: 4px 3px 14px 2px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:  4px 3px 14px 2px rgba(50, 50, 50, 0.5);
    box-shadow: 4px 3px 14px 2px rgba(50, 50, 50, 0.5);
}

.card-img-top {
    width: 128px;
    height: auto;
}

.card_btn_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    padding: 6px 8px !important;
}


