.jumbotron{

    background-color: var(--secondary-color) !important;


}

.search-input {

width: 200px !important;


}

/* .form-center {

    text-align: center;
} */
/* 
.form-control  {

    text-align: center;
}
 */




  