.home {
    font-family: "Roboto", sans-serif;
}

.jumbotron{
    background-color: var(--secondary-color) !important;
}

.hero-banner {
    padding: 60px 20px;
    background:url("../assets/images/hero-banner-background.png") center center no-repeat;
    height:218px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row_input {
    justify-content: center;
    align-items: center;
}

.search_input_wrapper {
    position: relative;
    display: inline-block;
    padding:0;
    min-width: 330px;
}

.search_input_wrapper .reset {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 16px;
    height: 16px;
    background: url("../assets/images/grey_close.png") center center no-repeat;
    background-size: 16px 16px;
    transform: translateY(-50%);
    cursor: pointer;
}

#home_search_input {
   width: 100%;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 42px;
    border: 1px solid var(--middle-grey);
}


input::placeholder {
    color: var( --middle-grey) !important;
}

#home_form_book_search_btn {
    margin-top: 20px;
}

.section_library {
    padding: 40px 20px;
    background-color: var(--page-bkgd-color);
}

.section_library .container {
    background-color: var(--page-bkgd-color);
    height: 100vh;
}

.home_btn_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 40px 20px;
}

.message_noResults {
    display: none;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 20px;
    color: var(--charcoal);
    background-color:#f1f1f1;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
}

.message_noResults.display {
    display: block;
}

.msg {
    margin-left: 10px;
}

.icn_search_arrow{
    color:var(--middle-grey);
}