#on_loan_modal {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--charcoal) !important;
    font-weight: 400 !important;
  }
.OnLoan_book_cover {
    width: 80px;
    height: 90px;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 0;
}

.book_name {
    font-weight: bold;
}

div.OnLoan_book_cover {
    display: inline-block !important; 
  }
  
div.OnLoan_book_cover img {
    width: 100%; 
    height: 110px !important; 
  }
    
#book_info {
    margin-bottom: 2rem;
    height: 110px;
}

.book_details, .OnLoan_book_cover{
    margin: 0;
    
}


/* form */
.form-group{
    display: flex;
}

.borrower_input_field, .date_input_field{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.name_of_borrower, .datepicker{
    margin-right: 0 !important;
}

.borrower_container {
    padding-right: 0 !important;
    margin-bottom: 2rem; 
}

form{
    padding-right: 0 !important;
    margin-right: 1rem !important;
}



.modal-footer{
    display: flex;
    justify-content: center;
}

