#on_loan_modal {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--charcoal) !important;
    font-weight: 400 !important;

  }

.book_container{
    height: 200px;
}

.OnLoan_book_cover {
    height: 200px;
    padding: 0;
}

.OnLoan_book_cover img{
    border-radius: 5px;   
}

.book_name {
    font-weight: bold;
}

div.OnLoan_book_cover {
    display: inline-block !important; 
  }
  
    
#book_info {
    margin-bottom: 2rem;
    height: 200px;
}

.book_details{
    display: border-box;
    padding-left: 2rem;
    
}


/* form */
.form-group{
    display: flex;
}

div.container.loan_details{
    padding-left:7px;
}

.borrower_input_field, .date_input_field{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.name_of_borrower, .datepicker{
    margin-right: 0 !important;
}

.borrower_container {
    padding-right: 0 !important;
    margin-bottom: 2rem; 
}


form{
    padding-right: 0 !important;
    margin-right: 1rem !important;
}



.modal-footer{
    display: flex;
    justify-content: center;
}

