:root {
  --primary-color: #567D89; /** nav-bar-color**/
  --secondary-color: #709F9D;/** jumbotron-color**/
  --nav-item-color: #A6EAE7;
  --orange-yellow:#FFAD4D;/** default button color**/
  --ratings-color: #FFCF26;
  --page-bkgd-color: #F1ECE0;
  --light-grey: #CCCCCC;
  --middle-grey: #9D9D9D;
  --charcoal: #333333;
  --disabled_bkgd: #A6A6A6;
  --disabled_label:#D9D9D9;
  --save-add_green:#5d9c75;
} 


body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--charcoal);
  font-weight: 400;
  background-color: var(--page-bkgd-color);
}

/** Button Styles **/

.btn-default {
  font-family:  "Roboto", sans-serif;
  background-color: var(--orange-yellow);
  font-size: 16px;
  color: #FFF;
  border: none;
  border-radius: 25px;
  padding:8px 30px;
  text-align: center;
  font-weight:400;
  min-width: 100px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  pointer-events: auto;
}

.btn-save-add{
  background-color: var(--save-add_green);
}

.btn-default:hover {
  background-color: var(--primary-color);
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:  0px 2px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.75);
}

.btn-default.small {
  min-width: 70px;
  width: 70px;
  height:23px;
  padding: 0;
  font-size: 14px;
}

.btn-default.disabled,
.btn-default.small.disabled {
  background-color: var(--disabled_bkgd);
  color:var(--disabled_label);
  cursor: default;
  pointer-events: none;
}


